# ignore the vendor scripts (those should be loaded via bower). only highlight can't be loaded via bower
/src/vendor/*
!/src/vendor/highlight.js

# ignore latex files
**/*.aux
**/*.bbl
**/*.blg
**/*.lof
**/*.log
**/*.out
**/*.toc
**/*.lot

# ignore IDE files
.idea/

