.detected-paragraph {
    border: 2px solid rgba(63, 81, 181, 0.3);
    border-radius: 2px 2px 18px 18px;
    padding: 5px;
}

.detected-paragraph:hover {
    border: 2px solid rgba(63, 81, 181, 1);
}

.paragraph-buttons {
    margin-bottom: 6px;
    opacity: 0.3;
}

.paragraph-buttons.hovered {
    opacity: 1;
}

.left-paragraph-buttons {
    height: 30px;
    width: 64px;
}

.result-counter {
    background-color: rgb(255, 82, 82);
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    z-index: 999;
    top: 20px;
    position: absolute;
    left: 20px;
    font-size: 14px;
}

.result-image-container {
    overflow: hidden;
}

.result-image-container-big {
    width: 100px;
    height: 100px;
}

.result-image-container-small {
    width: 50px;
    height: 50px;
}

.preview-icon {
    border-radius: 2px;
    box-sizing: content-box;
    z-index: 999;
}

.preview-icon-small {
    max-width: 50px;
    max-height: 50px;
}

.preview-icon-big {
    max-width: 100px;
    max-height: 100px;
}

.result-dialog-items {
    position: relative;
    left: 10px;
    height: 66px;
}

.result-dialog-text {
    height: 45px;
    font-size: 16px;
}

.result-dialog-header {
    height: 35px;
    overflow: hidden;
}

.result-dialog-description {
    max-height: 35px;
    overflow: hidden;
}

.result-dialog-placeholder {
    padding: 16px 0 0 16px;
    font-size: 14px;
}

.detailed-list {
    padding: 0;
}

.detailed-item {
    min-height: 20px;
}

.image-result {
    max-width: 150px;
    max-height: 150px;
}

.highlight {
    background-color: yellow;
    border-radius: 2px;
}

#text-results {
    -webkit-animation-duration: 0.3s;
}

#image-results {
    -webkit-animation-delay: 0.1s;
    -webkit-animation-duration: 0.3s;
}

#video-results {
    -webkit-animation-delay: 0.2s;
    -webkit-animation-duration: 0.3s;
}

.query-icon {
    position: relative;
    top: -3px;
    margin-left: 5px
}

.query-name {
    margin: 0 5px 0 0;
    position: relative;
    top: -2px;
}

.keyword-section.ng-hide-add,
.keyword-section.ng-hide-remove {
    -webkit-transition: 0.3s linear all;
}

.keyword-section.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}

.keyword-section.ng-hide-add,
.keyword-section {
    opacity: 1;
}

.tooltip {
    font-size: 12px;
}

.anchor {
    color: rgb(6, 69, 173);
    cursor: pointer;
}

.anchor:hover {
    text-decoration: underline;
}

.jarvis-chips {
    opacity: 0.3;
}

.jarvis-chips.hovered {
    opacity: 1;
}

/*Material Design Changes*/
body {
    font-size: inherit;
}

html {
    font-size: inherit;
}

.md-button {
    padding: 0 10px;
    margin: 8px 8px;
    line-height: 40px;
    height: 40px;
    font-size: 18px;
}

md-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 3px;
    top: 3px;
}

.md-button.query-button {
    margin: 0 0;
    padding-left: 0;
    padding-right: 0;
    height: 36px;
    font-size: 14px;
}

.md-button.md-icon-button {
    margin: 0 0;
    min-width: 0;
    padding-left: 0;
    padding-right: 0;
    height: 30px;
    width: 30px;
    min-height: 0;
    overflow: visible;
}

.md-button.md-icon-button.result-button {
    margin-left: 10px;
}

.md-chips {
    display: table;
    font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
    font-size: 14px;
    padding: 0 0 5px 0;
    margin: 3px 0 3px 0;
    vertical-align: middle;
    cursor: text;

}

.md-chips:after {
    content: '';
    display: table;
    clear: both;
}

.md-chips .md-chip {
    cursor: default;
    border-radius: 18px;
    display: block;
    height: 27px;
    line-height: 27px;
    margin: 5px 5px 0 0;
    padding: 0 2px 0 8px;
    float: left;
}

.md-chips .md-chip .md-chip-content {
    display: block;
    padding-right: 0;
    float: left;
    white-space: nowrap;
}

.md-chips .md-chip .md-chip-content:focus {
    outline: none;
}

.md-chips .md-chip .md-chip-remove-container {
    display: inline-block;
    margin-right: -8px;
}

.md-chips .md-chip .md-chip-remove {
    min-height: 26px;
    height: 26px;
    width: 26px;
    margin: 0 8px 0 0;
    text-align: center;
    min-width: 0;
    padding: 0;
    background: transparent;
    border: none;
    box-shadow: none;
    position: relative;
}

.md-chips .md-chip .md-chip-remove md-icon {
    height: 18px;
    width: 18px;
    position: absolute;
    top: 50%;
    left: 45%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.md-chips .md-chip-input-container {
    display: block;
    line-height: 27px;
    margin: 5px 5px 0 0;
    padding: 0 5px 0 8px;
    float: left;
}

.md-chips .md-chip-input-container input:not([type]), .md-chips .md-chip-input-container input[type="email"], .md-chips .md-chip-input-container input[type="number"], .md-chips .md-chip-input-container input[type="tel"], .md-chips .md-chip-input-container input[type="url"], .md-chips .md-chip-input-container input[type="text"] {
    border: 0;
    height: 27px;
    line-height: 27px;
    padding: 0;
}

.md-chips .md-chip-input-container input:not([type]):focus, .md-chips .md-chip-input-container input[type="email"]:focus, .md-chips .md-chip-input-container input[type="number"]:focus, .md-chips .md-chip-input-container input[type="tel"]:focus, .md-chips .md-chip-input-container input[type="url"]:focus, .md-chips .md-chip-input-container input[type="text"]:focus {
    outline: none;
}

.md-chips .md-chip-input-container md-autocomplete, .md-chips .md-chip-input-container md-autocomplete-wrap {
    background: transparent;
    height: 27px;
}

.md-chips .md-chip-input-container md-autocomplete {
    box-shadow: none;
}

.md-chips .md-chip-input-container md-autocomplete input {
    position: relative;
}

.md-chips .md-chip-input-container input {
    border: 0;
    height: 27px;
    line-height: 27px;
    padding: 0;
}

.md-chips .md-chip-input-container input:focus {
    outline: none;
}

.md-chips .md-chip-input-container md-autocomplete, .md-chips .md-chip-input-container md-autocomplete-wrap {
    height: 27px;
}

.md-chips .md-chip-input-container md-autocomplete {
    box-shadow: none;
}

.md-chips .md-chip-input-container md-autocomplete input {
    position: relative;
}

.md-chips .md-chip-input-container:not(:first-child) {
    margin: 5px 5px 0 0;
}

.md-chips .md-chip-input-container input {
    background: transparent;
    border-width: 0;
}

.md-chips md-autocomplete button {
    display: none;
}


md-grid-list md-grid-tile {
    background: rgba(0, 0, 0, 0.16);
}

md-grid-list md-grid-tile md-grid-tile-footer {
    background: rgba(0, 0, 0, 0.68);
    height: 36px;
}

md-grid-list md-grid-tile md-grid-tile-footer figcaption {
    width: 100%;
}

md-grid-list md-grid-tile md-grid-tile-footer figcaption div {
    margin: 0;
    font-weight: 700;
    width: 100%;
    text-align: center;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 29px;
    font-size: 14px;
}