html, body {
    height: 400px;
}

.settings-feedback {
    position: relative;
    border-radius: 2px;
    color: white;
    padding: 15px;
    margin-bottom: 20px;
    width: 381px;
}

.settings-feedback.ng-hide-add,
.settings-feedback.ng-hide-remove {
    -webkit-transition: 0.3s linear all;
    transition: 0.3s linear all;
}

.settings-feedback.ng-hide-remove,
.settings-feedback.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.settings-feedback.ng-hide-add,
.settings-feedback.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    height: 22px;
}

.settings-feedback-success {
    background-color: rgb(255, 64, 129);
    border: none;
    color: #fff;
}

.settings {
    width: 396px;
}

.settings-form {
    margin: 15px;
}