<div ng-class="{'detected-paragraph': showPlugin}" ng-mouseover="hover = true" ng-mouseleave="hover = false">
    <div class="paragraph-buttons" ng-show="showPlugin" layout="row" layout-align="space-between start"
         ng-class="{'hovered': hover}">
        <!-- Query-->
        <div class="left-paragraph-buttons" layout="row" layout-align="space-between start">
            <md-button aria-label="Search"
                       class="md-raised query-button md-icon-button" ng-click="findKeywords()" layout="row"
                       layout-align="start center" ng-class="{'md-primary': !newKeywords, 'md-accent': newKeywords}">
                <md-icon md-svg-src="{{icons.search}}"></md-icon>
                <md-tooltip>
                    <span class="tooltip">Query Europeana</span>
                </md-tooltip>
            </md-button>
        </div>
        <div layout="row" layout-align="end end">
            <!-- Text-->
            <md-button id="text-results" ng-if="queried" aria-label="Text"
                       class="animated bounceIn md-primary md-icon-button md-raised result-button"
                       ng-click="showResults($event, 0)">
                <md-icon md-svg-src="{{icons.text}}"></md-icon>
                <md-tooltip class="tooltip">Show text results</md-tooltip>
                <span class="result-counter" layout="row"
                      layout-align="center center">{{resultNumbers.textResults}}</span>
            </md-button>


            <!-- Image-->
            <md-button id="image-results" ng-if="queried" aria-label="Image"
                       class="animated bounceIn md-primary md-icon-button md-raised result-button"
                       ng-click="showResults($event, 1)">
                <md-icon md-svg-src="{{icons.image}}"></md-icon>
                <md-tooltip class="tooltip">Show image results</md-tooltip>
                <span class="result-counter" layout="row"
                      layout-align="center center">{{resultNumbers.imageResults}}</span>
            </md-button>


            <!-- Video-->
            <md-button id="video-results" ng-if="queried" aria-label="Video"
                       class="animated bounceIn md-primary md-icon-button md-raised result-button"
                       ng-click="showResults($event, 2)" style="margin-right: 10px">
                <md-icon md-svg-src="{{icons.video}}"></md-icon>
                <md-tooltip class="tooltip">Show audio and video results</md-tooltip>
                <span class="result-counter" layout="row"
                      layout-align="center center">{{resultNumbers.avResults}}</span>
            </md-button>

        </div>
    </div>
    <div ng-class="{'hovered': hover}" class="jarvis-chips">
        <md-chips ng-show="showPlugin && keywords.words.length !== 0" ng-model="keywords.words"
                  placeholder="Add a keyword"
                  delete-button-label="Remove Keyword"
                  delete-hint="Press delete to remove keyword"
                  secondary-placeholder="Add a keyword">
        </md-chips>
    </div>
    <div class="highlightable" ng-transclude="true" keyword-selector active="showPlugin" handle-click="toggleKeyword(keyword)">
    </div>
</div>