<div>
    <md-chips ng-if="queried" ng-model="keywords" placeholder="Add a keyword"
              delete-button-label="Remove Keyword"
              delete-hint="Press delete to remove keyword"
              secondary-placeholder="Add a keyword">
        <md-chip-template>
            {{$chip.key.text}}
        </md-chip-template>
    </md-chips>
    <md-button aria-label="Query" class="md-primary md-icon-button md-raised queryButton" ng-show="showQueryButton"
               ng-mouseenter="showQueryButton = true" ng-mouseleave="showQueryButton = false" ng-click="query()">
        <md-icon md-svg-src="{{iconSource}}"></md-icon>

    </md-button>
    <div class="detectedParagraph" ng-transclude="true" ng-mouseenter="showQueryButton = true"
         ng-mouseleave="showQueryButton = false">
    </div>
</div>