<div>
    <md-chips ng-if="keywordsFound" ng-model="keywords" placeholder="Add a keyword"
              delete-button-label="Remove Keyword"
              delete-hint="Press delete to remove keyword"
              secondary-placeholder="Add a keyword">
    </md-chips>
    <div layout="row" layout-align="space-between end">
        <!-- Query-->
        <md-button aria-label="Query" class="md-accent md-icon-button md-raised queryButton" ng-click="query()">
            <md-icon md-svg-src="{{icons.query}}" style="position: absolute; left: 6px; top: 6px;"></md-icon>
            <md-tooltip ng-if="!keywordsFound">Find keywords</md-tooltip>
            <md-tooltip ng-if="keywordsFound">Query Europeana</md-tooltip>
        </md-button>

        <div layout="row" layout-align="end end">
            <!-- Text-->
            <md-button aria-label="Text" class="md-primary md-icon-button md-raised resultButton" ng-click="showResults($event, 0)" style="overflow: visible">
                <md-icon md-svg-src="{{icons.text}}" style="position: absolute; left: 6px; top: 6px;"></md-icon>
                <md-tooltip>Show text results</md-tooltip>
                <span ng-if="queried" class="result-counter" layout="row" layout-align="center center">{{textResults}}</span>
            </md-button>


            <!-- Image-->
            <md-button aria-label="Image" class="md-primary md-icon-button md-raised resultButton" ng-click="showResults($event, 1)" style="overflow: visible">
                <md-icon md-svg-src="{{icons.image}}" style="position: absolute; left: 6px; top: 6px;"></md-icon>
                <md-tooltip>Show image results</md-tooltip>
                <span ng-if="queried" class="result-counter" layout="row" layout-align="center center">{{imageResults}}</span>
            </md-button>


            <!-- Video-->
            <md-button aria-label="Video" class="md-primary md-icon-button md-raised resultButton" ng-click="showResults($event, 2)" style="overflow: visible">
                <md-icon md-svg-src="{{icons.video}}" style="position: absolute; left: 6px; top: 6px;"></md-icon>
                <md-tooltip>Show audio and video results</md-tooltip>
                <span ng-if="queried" class="result-counter" layout="row" layout-align="center center">{{avResults}}</span>
            </md-button>

        </div>
    </div>
    <div class="detectedParagraph" ng-transclude="true">
    </div>
</div>