<div ng-class="{'detected-paragraph': showPlugin}">
    <div ng-show="showPlugin" layout="row" layout-align="space-between end">
        <!-- Query-->
        <md-button aria-label="Query"
                   class="md-accent md-raised query-button" ng-click="query()" layout="row" layout-align="start center">

            <!-- Find keywords-->
            <section class="keyword-section" ng-show="!keywordsFound">
                <md-icon md-svg-src="{{icons.query}}"
                         class="query-icon query-fade"></md-icon>
                <span class="query-name">Find keywords</span>
            </section>

            <!-- Query europeana-->
            <section class="animated fadeIn" ng-show="keywordsFound">
                <md-icon md-svg-src="{{icons.search}}"
                         class="query-icon"></md-icon>
                <span class="query-name">Query Europeana</span>
            </section>

            <!--<md-tooltip>-->
            <!--<span ng-if="!keywordsFound" class="animate fadeOut">Find keywords</span>-->
            <!--<span ng-if="keywordsFound" class="animate fadeIn">Query Europeana</span>-->
            <!--</md-tooltip>-->
        </md-button>

        <div layout="row" layout-align="end end">
            <!-- Text-->
            <md-button id="text-results" ng-if="queried" aria-label="Text"
                       class="animated bounceIn md-primary md-icon-button md-raised result-button"
                       ng-click="showResults($event, 0)">
                <md-icon md-svg-src="{{icons.text}}" style="position: absolute; left: 4px; top: 4px;"></md-icon>
                <md-tooltip>Show text results</md-tooltip>
                <span class="result-counter" layout="row" layout-align="center center">{{textResults}}</span>
            </md-button>


            <!-- Image-->
            <md-button id="image-results" ng-if="queried" aria-label="Image"
                       class="animated bounceIn md-primary md-icon-button md-raised result-button"
                       ng-click="showResults($event, 1)">
                <md-icon md-svg-src="{{icons.image}}" style="position: absolute; left: 4px; top: 4px;"></md-icon>
                <md-tooltip>Show image results</md-tooltip>
                <span class="result-counter" layout="row" layout-align="center center">{{imageResults}}</span>
            </md-button>


            <!-- Video-->
            <md-button id="video-results" ng-if="queried" aria-label="Video"
                       class="animated bounceIn md-primary md-icon-button md-raised result-button"
                       ng-click="showResults($event, 2)">
                <md-icon md-svg-src="{{icons.video}}" style="position: absolute; left: 4px; top: 4px;"></md-icon>
                <md-tooltip>Show audio and video results</md-tooltip>
                <span class="result-counter" layout="row" layout-align="center center">{{avResults}}</span>
            </md-button>

        </div>
    </div>
    <md-chips ng-show="showPlugin && keywordsFound" ng-model="keywords" placeholder="Add a keyword"
              delete-button-label="Remove Keyword"
              delete-hint="Press delete to remove keyword"
              secondary-placeholder="Add a keyword">
    </md-chips>
    <div class="highlightable" ng-transclude="true">
    </div>
</div>